accelerate==1.12.0
ackermann-msgs==2.0.2
action-msgs==2.0.3
action-tutorials-interfaces==0.33.7
action-tutorials-py==0.33.7
actionlib-msgs==5.3.6
actuator-msgs==0.0.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
ament-cmake-test==2.5.4
ament-copyright==0.17.3
ament-cppcheck==0.17.3
ament-cpplint==0.17.3
ament-flake8==0.17.3
ament-index-python==1.8.1
ament-lint==0.17.3
ament-lint-cmake==0.17.3
ament-package==0.16.4
ament-pep257==0.17.3
ament-uncrustify==0.17.3
ament-xmllint==0.17.3
angles==1.16.1
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
av==15.1.0
builtin-interfaces==2.0.3
camera-calibration==5.0.11
certifi==2026.2.25
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
cmake==4.1.3
composition-interfaces==2.0.3
control-msgs==5.5.0
controller-manager==4.38.0
controller-manager-msgs==4.38.0
cuda-bindings==12.9.4
cuda-pathfinder==1.2.2
cv-bridge==4.1.0
datasets==4.6.1
deepdiff==8.6.1
demo-nodes-py==0.33.7
diagnostic-msgs==5.3.6
diagnostic-updater==4.2.6
diffusers==0.35.2
dill==0.4.0
domain-coordinator==0.12.0
draccus==0.10.0
einops==0.8.2
evdev==1.9.3
example-interfaces==0.12.0
examples-rclpy-executors==0.19.6
examples-rclpy-minimal-action-client==0.19.6
examples-rclpy-minimal-action-server==0.19.6
examples-rclpy-minimal-client==0.19.6
examples-rclpy-minimal-publisher==0.19.6
examples-rclpy-minimal-service==0.19.6
examples-rclpy-minimal-subscriber==0.19.6
Farama-Notifications==0.0.4
filelock==3.20.0
frozenlist==1.8.0
fsspec==2025.12.0
generate-parameter-library-py==0.5.0
geodesy==1.0.6
geographic-msgs==1.0.6
geometry-msgs==5.3.6
gitdb==4.0.12
GitPython==3.1.46
gps-msgs==2.1.1
gymnasium==1.2.3
h11==0.16.0
hf-xet==1.3.2
hf_transfer==0.1.9
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
idna==3.11
image-geometry==4.1.0
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.1
inquirerpy==0.3.4
interactive-markers==2.5.5
Jinja2==3.1.6
joint-state-publisher==2.4.0
joy-teleop==1.8.0
jsonlines==4.0.0
key-teleop==1.8.0
laser-geometry==2.7.2
launch==3.4.7
launch-ros==0.26.9
launch-testing==3.4.7
launch-testing-ros==0.26.9
launch-xml==3.4.7
launch-yaml==3.4.7
-e git+https://github.com/huggingface/lerobot.git@8bb8ed48039e9f4595b105dd99f6bfff4b9aa8e7#egg=lerobot
lifecycle-msgs==2.0.3
logging-demo==0.33.7
map-msgs==2.4.1
marine-acoustic-msgs==2.1.0
MarkupSafe==3.0.2
mergedeep==1.3.4
message-filters==4.11.8
moveit-msgs==2.6.0
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.18
mypy_extensions==1.1.0
nav-msgs==5.3.6
networkx==3.6.1
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
opencv-python-headless==4.12.0.88
orderly-set==5.5.0
osrf-pycommon==2.1.7
packaging==25.0
pal-statistics==2.7.0
pal-statistics-msgs==2.7.0
pandas==3.0.1
pcl-msgs==1.0.0
pendulum-msgs==0.33.7
pfzy==0.3.4
pillow==12.0.0
platformdirs==4.9.2
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
pyarrow==23.0.1
pydantic==2.12.5
pydantic_core==2.41.5
pynput==1.8.1
pyserial==3.5
python-dateutil==2.9.0.post0
python-qt-binding==2.2.2
python-xlib==0.33
PyYAML==6.0.3
pyyaml-include==1.4.1
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.7
rcl-interfaces==2.0.3
rclpy==7.1.5
rcutils==6.7.4
regex==2026.2.28
requests==2.32.5
rerun-sdk==0.26.2
resource-retriever==3.4.4
rmw-dds-common==3.1.0
robot-localization==3.8.3
ros-gz-bridge==1.0.16
ros-gz-interfaces==1.0.16
ros-gz-sim==1.0.16
ros2action==0.32.6
ros2bag==0.26.9
ros2bag-mcap-cli==0.26.9
ros2bag-sqlite3-cli==0.26.9
ros2cli==0.32.6
ros2component==0.32.6
ros2doctor==0.32.6
ros2interface==0.32.6
ros2launch==0.26.9
ros2lifecycle==0.32.6
ros2multicast==0.32.6
ros2node==0.32.6
ros2param==0.32.6
ros2pkg==0.32.6
ros2run==0.32.6
ros2service==0.32.6
ros2topic==0.32.6
rosbag2-interfaces==0.26.9
rosbag2-py==0.26.9
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.6
rosidl-cli==4.6.6
rosidl-cmake==4.6.6
rosidl-generator-c==4.6.6
rosidl-generator-cpp==4.6.6
rosidl-generator-py==0.22.2
rosidl-generator-type-description==4.6.6
rosidl-parser==4.6.6
rosidl-pycommon==4.6.6
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.2
rosidl-typesupport-fastrtps-cpp==3.6.2
rosidl-typesupport-introspection-c==4.6.6
rosidl-typesupport-introspection-cpp==4.6.6
rpyutils==0.4.2
rqt-action==2.2.0
rqt-bag==1.5.5
rqt-bag-plugins==1.5.5
rqt-console==2.2.1
rqt-graph==1.5.5
rqt-gui==1.6.1
rqt-gui-py==1.6.1
rqt-msg==1.5.1
rqt-plot==1.4.4
rqt-publisher==1.7.2
rqt-py-common==1.6.1
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.3
safetensors==0.7.0
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
sentry-sdk==2.54.0
service-msgs==2.0.3
setuptools==80.10.2
shape-msgs==5.3.6
six==1.17.0
smmap==5.0.2
srdfdom==2.0.7
sros2==0.13.4
statistics-msgs==2.0.3
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
sympy==1.14.0
teleop-tools-msgs==2.0.0
teleop-twist-keyboard==2.4.1
termcolor==3.3.0
tf-transformations==1.1.0
tf2-geometry-msgs==0.36.14
tf2-kdl==0.36.14
tf2-msgs==0.36.14
tf2-py==0.36.14
tf2-ros-py==0.36.14
tf2-sensor-msgs==0.36.14
tf2-tools==0.36.14
theora-image-transport==4.0.6
toml==0.10.2
topic-monitor==0.33.7
torch==2.10.0+cu128
torchaudio==2.10.0+cu128
torchcodec==0.10.0
torchvision==0.25.0+cu128
tqdm==4.67.3
trajectory-msgs==5.3.6
triton==3.6.0
turtlesim==1.8.3
type-description-interfaces==2.0.3
typeguard==4.5.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
unique-identifier-msgs==2.5.0
urdfdom-py==1.2.1
urllib3==2.6.3
vision-msgs==4.1.1
visualization-msgs==5.3.6
wandb==0.24.2
wcwidth==0.6.0
xacro==2.1.1
xxhash==3.6.0
yarl==1.23.0
zipp==3.23.0
